.page-content {
  max-width: 1400px;
}

.mdl-logo {
  margin: auto;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

table {
  table-layout: fixed;
  width: 100%;
}

th {
  text-align: left !important;
  font-size: 14px !important;
}

td {
  text-align: left !important;
}

.mdl-navigation__link .icon {
  /* Fix the positioning of this element (This is screwed up by default in Material Design Lite) */
  position: relative;
  top: 5px;
}

.content {
  min-height: 100% !important;
  height: auto !important;
}

footer {
  padding: 12px !important;
}

.small-button {
  height: 25px;
}

.center {
  margin: auto;
  text-align: center;
}

.mdl-textfield {
  width: 100%;
}

.nav-buttons {
  margin-top: 10px;
}

.action {
  text-decoration: none !important;
}

.resizable-col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action-col {
  text-align: right !important;
}

.statistic-badge {
  font-size: 40px;
  color: #424242;
}

.statistics {
  margin: 20px auto -30px auto;
  text-align: center;
}

.material-icons.mdl-badge[data-badge]::after,
.material-label.mdl-badge[data-badge]::after {
  font-size: .3em;
  width: 2.3em;
  height: 2.3em;
}

.mdl-menu {
  padding: 0 !important;
}

.no-link {
  text-decoration: none;
  color: #424242;
}

.thumb-wrapper {
  width: 100%;
  height: 120px;
  margin: 0 0 0 0;
  border-bottom: 1px solid #E6E6E6;
  background-color: white;
}

.thumb {
  max-height: 100%;
  margin: auto;
  display: block;
}

.thumb-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  font-size: 18px;
}

.mdl-card__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}

.mdl-card__media > img {
  max-width: 100%;
}

.upload-input {
  width: 93%;
  display: inline-block;
}

.mdl-button--fab.mdl-button--colored {
  background-color: #2196f3;
}

.mdl-button--fab.mdl-button--colored:hover {
  background-color: #2196f3;
}

.image-actions {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-radio {
  display: block;
}

.image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.image img {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.img-thumb {
  max-width: 300px;
  max-height: 300px;
}

.blue-border {
  border: 3px solid deepskyblue;
}

.red-border {
  border: 3px solid red;
}

.platform-logo {
  padding-top: 10px;
  width: 60%;
}

.error {
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  background-color: #f8d7da;
  padding: 5px;
}

.error > p {
  font-size: 18px;
}

.error > li {
  font-size: 16px;
}

.delete-form {
  display: inline;
}

.delete-form > button {
  border: none;
  background: none;
  padding: 0;
  color: #ff5252;
}

.delete-form > button:disabled {
  color: #E0E0E0;
}

.delete-form > button:hover {
  cursor: pointer;
}

.delete-form > button:hover:disabled {
  cursor: default;
}

.sidenav-submenu {
  margin-left: 50px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.mdl-dialog {
  width: 500px;
}

.mdl-dialog input {
  width: 100%;
}

.mdl-dialog p {
  font-size: 16px;
  text-align: center;
}

.mdl-dialog textarea {
  width: 100%;
}

.mdl-dialog select {
  margin: auto;
  display: block;
}

