.page-content {
  max-width: 1400px;
}

.mdl-logo {
  margin: auto;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

table {
  table-layout: fixed;
  width: 100%;
}

th {
  text-align: left !important;
  font-size: 14px !important;
}

td {
  text-align: left !important;
}

.mdl-navigation__link .icon {
  /* Fix the positioning of this element (This is screwed up by default in Material Design Lite) */
  position: relative;
  top: 5px;
}

.content {
  min-height: 100% !important;
  height: auto !important;
}

footer {
  padding: 12px !important;
}

.small-button {
  height: 25px;
}

.center {
  margin: auto;
  text-align: center;
}

.mdl-textfield {
  width: 100%;
}

.nav-buttons {
  margin-top: 10px;
}

.action {
  text-decoration: none !important;
}

.resizable-col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action-col {
  text-align: right !important;
}

.statistic-badge {
  font-size: 40px;
  color: #424242;
}

.statistics {
  margin: 20px auto -30px auto;
  text-align: center;
}

.material-icons.mdl-badge[data-badge]::after,
.material-label.mdl-badge[data-badge]::after {
  font-size: .3em;
  width: 2.3em;
  height: 2.3em;
}

.mdl-menu {
  padding: 0 !important;
}

.post-content {
  padding-left: 20px;
  padding-right: 20px;
}

.mdl-card__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}

.mdl-card__media > img {
  max-width: 100%;
}

.mdl-card {
  min-height: 0 !important;
}

